@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
* {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav {
  background-color: #010026;
}

.landing {
  background: #070b22;
  background: linear-gradient(
    180deg,
    rgba(7, 11, 34, 1) 21%,
    rgba(136, 90, 242, 1) 100%
  );
}
